{% extends 'WelcomeBundle::layout.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('bundles/welcome/css/pengeluaran.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}


{% block body %}
<div id="header">
    <div class="container">
        <h1>pengeluaran.info</h1>
    </div><!-- container -->
</div>

<div id="intro">
    <div class="container">
        <div class="eight columns alpha" id="introtext">
            <button class="btn btn-success btn-large" href="#">Ayo gabung..</button>
        </div>
    </div><!-- container -->
</div>

<div class="container">

  <!-- Example row of columns -->
  <div class="row">
	<div class="span4">
	  <h2>Heading</h2>
	   <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	  <p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
	<div class="span5">
	  <h2>Heading</h2>
	   <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	  <p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
	<div class="span3">
        {% render "FOSUserBundle:Security:login" %}
	</div>
  </div>

  <hr>

  <footer>
	<p>&copy; Life2Play 2012</p>
  </footer>
</div>

{% endblock %}
