{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
	<h1>Info Pengeluaran!</h1>
	<p>This is a tools that you can use to track down your expenses.</p>
	<p><a class="btn btn-primary btn-large">More &raquo;</a></p>
  </div>


  <!-- Example row of columns -->
  <div class="row">
	<div class="span4">
	  <h2>Heading</h2>
	   <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	  <p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
	<div class="span5">
	  <h2>Heading</h2>
	   <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	  <p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
	<div class="span3">
        {% render "FOSUserBundle:Security:login" %}
	</div>
  </div>

  <hr>

  <footer>
	<p>&copy; Life2Play 2012</p>
  </footer>
</div>

{% endblock %}
